{% extends "layout_login.html" %}
{% block title %}Login{% endblock %}

{% block content %}
    {% from "macro.html" import render_field %}

<section class="section">
	<div class="container has-text-centered">
	  <h1 class="title is-capitalized">Administrator Login</h1>
	  <p class="subtitle  is-italic">Smarthealth system administration.</p>
	</div>
</section>
<section class="hero">
	<div class="container">	
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
        {% if error %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ error }}
            </div>
        {% endif %}
          <form action="{{ url_for( 'admin.login') }}" class="box" method="post">
            {{ form.hidden_tag() }}
            {{ render_field(form.username, placeholder="admin", label_class="label", icon="fa fa-user") }}<br>
            {{ render_field(form.password, placeholder="Password", label_class="label", icon="fa fa-envelope") }}<br>
            <p><input class="button is-success" type="submit" value="Login"></p>
          </form>
        </div>
      </div>
    </div>
</section>
{% endblock %}
