{% extends "patient/patient_layout.html" %}
{% block title %}Doctor Details{% endblock %}
{% block content %}
<h1 class="title">Appointment Details</h1>

<table class="table" style="width:50%">
    <tbody>
      <tr>
        <th>Appointment ID:</th>
        <td>{{row[0]}}</td>
      </tr>
      <tr>
        <th>Appointment Date:</th>
        <td>{{row[1]}}</td>
      </tr>
      <tr>
        <th>Doctor's Name:</th>
        <td>{{row[2]}}</td>
      </tr>
      <tr>
        <th>Doctor's Surname:</th>
        <td>{{row[3]}}</td>
      </tr>
      <tr>
        <th>Doctor's Diagnosis:</th>
        <td>{{row[4] | capitalize}}</td>
      </tr>
      <tr>
        <th>Doctor's Comments:</th>
        <td>{{row[5]}}</td>
      </tr>
    </tbody>
</table>

{% endblock %}