{% extends "patient/patient_layout.html" %}
{% block title %}Home - Patient{% endblock %}
{% block content %}
<h1 class="title">Home</h1>

<table class="table is-narrow is-striped is-hoverable" width="100%">

    <thead>
        <tr>
            <th>Appointment ID</th>
            <th>Appointment Date</th>
            <th>Doctor's Name</th>
            <th>Doctor's Surname</th>
            <th>Diagnosis</th>
            <th>Doctor's Comments</th>
        </tr>
    </thead>
    <tbody>
{% for i in range(0,len) %}
        <tr>
            <td>{{ rows[i][0] }}</td>
            <td>{{ rows[i][1] }}</td>
            <td><a class="button is-small" href="{{url_for('patient.doctor_details', doctor_id = rows[i][6]|int )}}">
                <span class="icon is-small is-left">
                <i class="fa fa-info"></i>
                </span></a>
                {{ rows[i][2] | capitalize }}</td>
            <td>{{ rows[i][3] | capitalize }}</td>
            <td>{{ rows[i][4] | truncate(40)}}</td>
            <td>{{ rows[i][5] | truncate(40)}}</td>
        </tr>
{%endfor%}
    </tbody> 
</table>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="{{ url_for('static', filename='js/dataTables.bulma.min.js') }}"></script>
<script>
    $('.table').DataTable({
        "order": [[ 0, "desc" ]]
    });
</script>

{% endblock %}
