<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Login</title>
    <!-- <link rel="shortcut icon" href="/static/?.png" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='smartHealth.css') }}" />
</head>

<body>
    <header>
        <div class="level-right">
            <a class="button is-rounded is-ghost is-medium level-item">
                <span class="icon is-small is-left">
                    <i class="fa fa-cog"></i>
                </span>
            </a>
        </div>
    </header>
    <main>
        <section class="section">
            <div class="content">
                <div class="columns is-centered">
                    <div class="column is-one-third">
                        <div class="box">

                            <div class="block" style="margin-bottom: 3rem; margin-top: 1.5rem">
                                <div class="columns is-centered">
                                    <img src="/static/smartHealth_logo-with-text.jpg">
                                </div>
                            </div>
                            <div class="block" style="margin-bottom: 1.5rem; margin-top: 1.5rem">
                                <div class="columns is-centered">
                                    <a class="button is-link" href="{{ url_for('login_page_doctor') }}">Doctor Login</a>
                                </div>
                            </div>
                            <div class="block" style="margin-bottom: 1.5rem">
                                <div class="columns is-centered">
                                    <a class="button is-link">Patient Login</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="content">
            <small>&copy; 2020, Smart Health</small>
        </div>
    </footer>
</body>

</html>