{% extends "doctor/doctor_layout.html" %}
{% block title %}Add Personnel{% endblock %}
{% block content %}
<h1 class="title">New Patient</h1>

{% from "macro.html" import render_field %}
    {% if errors %}
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            {{ errors }}
        </div>
    {% endif %}

<form action="{{ url_for('doctor.add_patient') }}" class="box" method="post" name="patient_add">
    {{ form.hidden_tag() }}
    {{ render_field(form.patient_name, placeholder="Donald", label_class="label", icon="") }}<br>
    {{ render_field(form.patient_surname, placeholder="Trump", label_class="label", icon="") }}<br>
    {{ render_field(form.patient_gender, label_class="label", icon="") }}<br>
    {{ render_field(form.patient_age, label_class="label", icon="") }}<br>
    <p><input class="button is-success" type="submit" value="Add Patient"></p>
</form>
{% endblock %}
