{% extends "doctor/doctor_layout.html" %}
{% block title %}Home - Doctor{% endblock %}
{% block content %}
<h1 class="title">Home</h1>

<table class="table is-narrow is-striped is-hoverable" width="100%">

    <thead>
        <tr>
            <th>Patient ID</th>
            <th>Patient ID</th>
            <th>Patient Name</th>
            <th>Patient Surname</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Log Code</th>
            <th>Account Creation</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
{% for i in range(0,len) %}
        <tr>
            <td>{{ rows[i][0] }}</td>
            <td>{{ rows[i][7] }}</td>
            <td>{{ rows[i][1] }}</td>
            <td>{{ rows[i][2] }}</td>
            <td>{{ rows[i][3] }}</td>
            <td>{{ rows[i][4] }}</td>
            <td>{{ rows[i][5] }}</td>
            {% if rows[i][6] %}
                <td>{{ rows[i][6].strftime("%d-%m-%Y %H:%M") }}</td>
            {% else %}
                <td>Not specified.</td>
            {% endif %}
            <td>
                <a class="button is-link">
                    <span class="icon is-small is-left">
                    <i class="fa fa-edit"></i>
                    </span></a>
            </td>
        </tr>
{%endfor%}
    </tbody> 
</table>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="{{ url_for('static', filename='js/dataTables.bulma.min.js') }}"></script>
<script>
    $('.table').DataTable();
</script>
<div class="field is-grouped is-grouped-centered">
    <span class="navbar-item">
            <a class="button is-link">...</a>
    </span>
</div>

{% endblock %}
