{% extends "doctor/doctor_layout.html" %}
{% block title %}Home - Doctor{% endblock %}
{% block content %}
<h1 class="title">Home</h1>

<table class="table is-narrow is-striped is-hoverable">

    <tr>
        <th>patientid</th>
        <th>patientname</th>
        <th>patientsurname</th>
        <th>patientgender</th>
        <th>patientage</th>
        <th>patientlogcode</th>
        <th>createdate</th>
        <th></th>
    </tr>
{% for i in range(0,len) %}
    <tr>
        <td>{{ rows[i][0] }}</td>
        <td>{{ rows[i][1] }}</td>
        <td>{{ rows[i][2] }}</td>
        <td>{{ rows[i][3] }}</td>
        <td>{{ rows[i][4] }}</td>
        <td>{{ rows[i][5] }}</td>
        <td>{{ rows[i][6] }}</td>
        <td>
            <a class="button is-link">
                <span class="icon is-small is-left">
                  <i class="fa fa-edit"></i>
                </span></a>
        </td>
    </tr>
{%endfor%} 
</table>
<div class="field is-grouped is-grouped-centered">
    <span class="navbar-item">
            <a class="button is-link">...</a>
    </span>
</div>

{% endblock %}
