{% extends "doctor/doctor_layout.html" %}
{% block title %}Update Appointment{% endblock %}
{% block content %}
<h1 class="title">Update Appointment</h1>

{% from "macro.html" import render_field %}
    {% if errors %}
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            {{ errors }}
        </div>
    {% endif %}

    <form  action="{{ url_for('doctor.update_appointment', appointment_id=data.id) }}" class="box" method="post" name="update_appointment">
        <div class="control">
            <label class="label">Appointment ID</label>
            <input class="input" type="text" placeholder="{{data.id}}" disabled>
            <label class="label">Appointment Date</label>
            <input class="input" type="text" placeholder="{{ data.date }}" disabled>
        </div>
        {{ form.hidden_tag() }}
        {{ render_field(form.patient_nid, value=data.patient_national_id, label_class="label", icon="") }}<br>
        {{ render_field(form.diagnosis, value=data.diagnosis, label_class="label", icon="") }}<br>
        {{ render_field(form.note, value=data.note, class="input", label_class="label", icon="") }}<br>
    <p><input class="button is-success" type="submit" value="Update Appointment"></p>
    </form>
{% endblock %}